/* Global Styles */
body,
html {
   margin: 0;
   padding: 0;
   font-family: 'Roboto', sans-serif;
   color: #000;
}

h1{
   text-align: center;
}

.container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   min-height: 100vh;
   max-width: 840px;
   margin: 0 auto;
}

/* Authorization Section */
.separateSection {
   margin: 18px;
   padding: 18px;
   border-radius: 10px;
   background-color: #18232e;
   color: #fff;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   text-align: center;
}

.form {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 10px;
}

.input {
   padding: 10px;
   border: none;
   border-radius: 5px;
   background-color: #fff;
   width: 80%;
   transition: background-color 0.3s, transform 0.3s;
}

.input:hover {
   background-color: #f0f0f0;
   transform: scale(1.02);
}

.button {
   padding: 12px;
   margin: 12px;
   width: 180px;
   border: none;
   border-radius: 5px;
   background-color: #007bff;
   color: #fff;
   cursor: pointer;
   transition: background-color 0.3s, transform 0.3s;
}

.button:hover {
   background-color: #0056b3;
   transform: scale(1.05);
}

/* Footer Section */
.footer {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 10px;
   text-align: center;
}

.footer-social-media {
   color: #007bff;
   text-decoration: none;
}

/* Media Queries */
@media (max-width: 768px) {
   .container {
      padding: 20px;
   }
}